body{
    display: flexbox;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: whitesmoke;
    text-align: center;
}
.sounds{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
audio{
    margin-bottom: 5px;
}
.sound1, .sound2, .sound3{
    display: flex;
    flex-direction: column;
}
.key{
    width: 60px;
    height: 20px;
    margin: 15px 0px 0px 5px;
    text-align: center;
    float: right;
}
.each{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}